<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container">
  <div>Deeplink test</div>
  <div>
	<a href="https://pkrdeeplinktest.herokuapp.com/item/1">Click here to test: https://pkrdeeplinktest.herokuapp.com/item/1</a>
  </div>  
</div>
</body>
</html>
