<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container">
  <div><h3>Deeplink test 1</h3></div>
  <br/>
  <br/>
  <div>
	<a href="https://pkrdeeplinktest1.herokuapp.com/item?id=1">Click here to test: https://pkrdeeplinktest1.herokuapp.com/item?id=1</a>
	<br/>
	<a href="https://pkrdeeplinktest1.herokuapp.com/item?id=2">Click here to test: https://pkrdeeplinktest1.herokuapp.com/item?id=2</a>
	<br/>
	<a href="https://pkrdeeplinktest1.herokuapp.com/item?id=3">Click here to test: https://pkrdeeplinktest1.herokuapp.com/item?id=4</a>
	<br/>
	<a href="https://pkrdeeplinktest1.herokuapp.com/item?id=99">Click here to test: https://pkrdeeplinktest1.herokuapp.com/item?id=98</a>
	<br/>
	<a href="DeepLink://item?id=1">Click here to test: DeepLink</a>
  </div>  
</div>
</body>
</html>
